asn1crypto
atomicwrites
attrs
beautifulsoup4
bs4
certifi
cffi
coverage
cryptography
Django
dnspython
flake8
idna
importlib-metadata
# lxml
mccabe
more-itertools
netaddr
numpy
packaging
pandas
paramiko
pep257
pep8
pluggy
# psycopg2
# psycopg2-binary
pycodestyle
pycparser
pyflakes
PyMySQL
pymysql
pyparsing
pysftp
pytest
pytest
pytest-cov
pytest-cov
pytz
requests
six
urllib3
wcwidth
xmltodict
zipp
