asn1crypto
atomicwrites
attrs
awscli
bcrypt
beautifulsoup4
botocore
bs4
certifi
cffi
chardet
colorama
coverage
cryptography
Django
dnspython
docutils
entrypoints
flake8
html5lib
idna
importlib-metadata
jmespath
mccabe
more-itertools
mysql-connector-python
netaddr
numpy
packaging
pandas
paramiko
pep257
pep8
pluggy
protobuf
psycopg2-binary
py
pyasn1
pycodestyle
pycparser
pyflakes
PyMySQL
PyNaCl
pyparsing
pysftp
pytest
pytest-cov
python-dateutil
pytz
PyYAML
requests
rsa
s3transfer
six
soupsieve
sqlparse
urllib3
wcwidth
webencodings
xmltodict
zipp
